<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment5_comp123.Properties.Settings.DollarComputersConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DollarComputers;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ProductModelConnection" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=DollarComputers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>